{% extends "general/layout.html" %}

{% block head_title %}Página detalle de Libros{% endblock %}

{% block page_title %}Libro{% endblock %}

{% block page_content %}
    {% if libro %}
        <h2>Nombre del libro: {{ libro.nombre }}</h2>
        <p>ID del libro: {{ libro.id }}</p>
        <p>Volver a la <a href="{% url 'books:libro_list' %}">lista de libros</a></p>
    {% else %}
        <h2>No se ha encontrado el libro que buscabas</h2>
        <p>Puedes probar de nuevo en la <a href="{% url 'books:libro_list' %}">lista de libros</a></p>
    {% endif %}
{% endblock %}