{% extends "general/layout.html" %}

{% block head_title %}Página detalle de Autores{% endblock %}

{% block page_title %}Autor{% endblock %}

{% block page_content %}  
    {% if autor %}
        <h2>Nombre del autor: {{ autor.nombre }}</h2>
        <p>ID del Autor: {{ autor.id }}</p>
        <p>Fecha de naciemiento: {{ autor.fecha_nacimiento | date:"d/m/Y" }}</p>
        <p>Nacionalidad: {{ autor.nacionalidad }}</p>
        <p>Biografía: {{ autor.biografia }}</p>
        <p>Email: {{ autor.email }}</p>
        <p>Telefono: {{ autor.telefono }}</p>
        <p>Sitio web: {{ autor.sitio_web }}</p>
        <p>Premios: {{ autor.premios }}</p>
        
        <p>Volver a la <a href="{% url 'books:autor_list' %}">lista de autores</a></p>
    {% else %}
        <h2>No se ha encontrado el autor que buscabas</h2>
        <p>Puedes probar de nuevo en la <a href="{% url 'books:autor_list' %}">lista de autores</a></p>
    {% endif %}
{% endblock %}