{% extends "general/layout.html" %}

{% block head_title %}Página de Autores{% endblock %}

{% block page_title %}Listado de Autores{% endblock %}

{% block page_content %}
    <h2>Lista de autores</h2>  
    <ul>
        {% for autor in autores %}
        <li><a href="{% url 'books:autor_detail' autor.id %}">{{ autor.nombre }}</a></li>
        {% endfor %}
    </ul>

    <h2>Acciones</h2>
    <ul>
        <li><a href="{% url 'books:autor_create' %}">Nuevo autor</a></li>
    </ul>
{% endblock %}