<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}Default head_title{% endblock %}</title>
</head>
<body>
    <h1>{% block page_title %}Default page_title{% endblock %}</h1>
    <ul>
        <li><a href="{% url 'home' %}">Inicio</a></li>
        <li><a href="{% url 'books:autor_list' %}">Autores</a></li>
        <li><a href="{% url 'books:libro_list' %}">Libros</a></li>
        <li><a href="{% url 'books:editorial_list' %}">Editoriales</a></li>
        <li><a href="{% url 'contact' %}">Contacto</a></li>
    </ul>

    {% block page_content %}    {% endblock %}

<footer>
    <hr>
    <p>&copy; {% now "Y" %} - PabloSanchez87</p>
</footer>
</body>
</html>