{% extends "general/layout.html" %}

{% block head_title %}Página de Editoriales{% endblock %}

{% block page_title %}Listado de Editoriales{% endblock %}

{% block page_content %}
    <h2>Lista de Editoriales</h2>  
    <ul>
        {% for editorial in editoriales %}
        <li><a href="{% url 'books:editorial_detail' editorial.id %}">{{ editorial.nombre }}</a></li>
        {% endfor %}
    </ul>

    <h2>Acciones</h2>
    <ul>
        <li><a href="{% url 'books:editorial_create' %}">Nueva editorial</a></li>
    </ul>
{% endblock %}