<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDITORIAL</title>
</head>
<body>
    <h1>EDITORIAL</h1>
    <ul>
        <li><a href="{% url 'home' %}">Inicio</a></li>
        <li><a href="{% url 'books:autor_list' %}">Autores</a></li>
        <li><a href="{% url 'books:libro_list' %}">Libros</a></li>
        <li><a href="{% url 'books:editorial_list' %}">Editoriales</a></li>
        <li><a href="{% url 'contact' %}">Contacto</a></li>
    </ul>

    {% if editorial %}
        <h2>Nombre del editorial: {{ editorial.nombre }}</h2>
        <p>ID del editorial: {{ editorial.id }}</p>
        <p>Volver a la <a href="{% url 'books:editorial_list' %}">lista de editoriales</a></p>
    {% else %}
        <h2>No se ha encontrado la editorial que buscabas</h2>
        <p>Puedes probar de nuevo en la <a href="{% url 'books:editorial_list' %}">lista de editorial</a></p>
    {% endif %}
</body>
</html>